.container {
  min-width: 100%;
  display: flex;
}

.container__elem1 {
  min-width: 6%;
  height: 100vh;
  border-right: 1px solid #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container__elem1 .container__elem1__child {
  min-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container__elem1 .container__elem1__child .projects__elems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container__elem1 .container__elem1__child .projects__elems div {
  min-width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #F5F1EF;
  background-color: #262626;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.2s ease-in-out;
  font-size: 20px;
}
.container__elem1 .container__elem1__child .projects__elems div:hover {
  transform: scale(1.07);
}
.container__elem1 .container__elem1__child .projects__elems div:active {
  transform: scale(0.95);
}
.container__elem1 .container__elem1__child button {
  border: none;
  min-width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #F5F1EF;
  background-color: #666666;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.2s ease-in-out;
  font-size: 20px;
}
.container__elem1 .container__elem1__child button:hover {
  transform: scale(1.07);
}
.container__elem1 .container__elem1__child button:active {
  transform: scale(0.95);
}

.container__elem2 {
  width: 94%;
  display: flex;
  flex-direction: column;
}
.container__elem2 .upper__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.container__elem2 .upper__block h1 {
  font-size: 40px;
  color: #262626;
}
.container__elem2 .upper__block button {
  width: 150px;
  height: 50px;
  gap: 6px;
  border: 5px solid #262626;
  background-color: #F5F1EF;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #262626;
  transition: 0.1s;
}
.container__elem2 .upper__block button:hover {
  background-color: #262626;
  color: #F5F1EF;
  transform: scale(1.05);
}
.container__elem2 .upper__block button:active {
  transform: scale(0.95);
}

form {
  position: relative;
  background-color: #F5F1EF;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 500px;
  height: 100vh;
  padding: 20px;
  align-items: center;
  border-radius: 8px;
  position: absolute;
  right: -1000px;
  transition: 0.5s;
}
form input {
  width: 90%;
  padding: 12px;
  border: 3px solid #262626;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #808080;
}
form input:focus {
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.5882352941);
}
form .createBtn {
  width: 90%;
  padding: 12px;
  gap: 6px;
  border: 5px solid #262626;
  background-color: #F5F1EF;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #262626;
  transition: 0.1s;
}
form .createBtn:hover {
  background-color: #262626;
  color: #F5F1EF;
  transform: scale(1.05);
}
form .createBtn:active {
  transform: scale(0.95);
}

form.show {
  right: 0;
}

.createMenu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.createMenu .closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.createMenu .closeBtn:hover {
  transform: scale(1.1);
}
.createMenu .closeBtn:active {
  transform: scale(0.95);
}

.createMenu.show {
  visibility: visible;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}
.projects .project {
  padding: 20px;
  border-radius: 8px;
  background-color: #262626;
  color: white;
  word-break: break-word;
}/*# sourceMappingURL=ProjectPage.css.map */